.DS_Store
/vendor
/dist
/local-archive
/services/aurora/captive-core
/services/aurora/aurora
/services/aurora/hcnet-aurora
.vscode
.idea
debug
.bundle
*.swp
*.crt
*.csr
*.key
*.prof
*.test
*.index
*.xdr
*.db
*.conf
*.lock
